
                               /*section 1*/

.section1 { background-color: #363E97; }

.container { width: 1170px;
             margin: 0 auto; }

.s1-box { display: flex;
       justify-content: space-between; }

.s1-box1,
.s1-box2 { width: 570px;
        height: 320px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center; }

.s1-box2 { background-color: yellow; }

                              /*section 2*/

.s2-box {  }